# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cloudflare Wrangler Cache
.wrangler/
.dev.vars

# Local D1 SQLite Database caches
*.db
*.sqlite

# System files
.DS_Store
Thumbs.db
desktop.ini

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
